
.nav-wrap { 

    background-color: 
    rgba(0,0,0,0.6); 
    border-top: 2px solid white;
    border-bottom: 2px solid white;
 }
#example-one { 
    margin: 0 auto; 
    list-style: none; 
    position: relative;
    width: 960px; 
 }

#example-one li a {
    font-size: 14px; 
    display: block; 
    float: left; padding: 0px 10px 4px 5px; 
    text-decoration: none; 
    text-transform: 
    
}

#magic-line { 
    position: absolute;
    bottom: 3px; 
    left: 0;
    width: 100px;
    height: 3px;
    background: #d63330; 
}




