.flipkart-navbar-input {
    padding: 11px 16px;
    border-left: 1px #dddddd solid;
    border-top: 1px #dddddd solid;
    border-bottom: 1px #dddddd solid;
    border-radius: 3px 0 0 3px;
    outline: 0 none;
    font-size: 14px;
    height: 41px;

}

.flipkart-navbar-button {
    background-color: #fc3;
    border: 3px solid #fc3;
    border-radius: 0 2px 2px 0;
    padding-left: 0px;
    width: 60px;
    padding: 10px 0;
    height: 41px;
    cursor: pointer;
    border-top: 1px  #dddddd solid;
    border-bottom: 1px #dddddd solid;
    border-right: 1px #dddddd solid;

}
.flipkart-navbar-input:focus{
    border-left: 1px #fc3 solid;
    border-top: 1px #fc3 solid;
    border-bottom: 1px #fc3 solid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) ;
    
}
.flipkart-navbar-input:focus + .flipkart-navbar-button{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1),1px 1px 4px rgba(0, 0, 0, 0.3) ;
}

.search{
    padding-left: 30px;
}

.glyphicon-search{
    font-size: 18px;
    color: #393838;
}


.choco-icon{
    width: 188px;
    
}
.choco-img{
    position: relative;
    background: url(../images/header.png);
    background-position: -213px -333px;       
    float: left;
    width: 178px;
    height: 44px;
}
.mes{
    width: 160px;
    padding-left: 20px;
    padding-right: 0;
    font-family: 'Roboto Condensed';
    padding-top: 5px;
    color: #474748;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
}
