.menu-wrap1{
	width: 100%;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    height: 46px;
    background: white;
    z-index:1000;

}



/*Sticky menu*/
.menu-wrap{
	width: 100%;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    height: 46px;
    background: white;
    z-index:1000;

  	position: sticky;
  	top: 42px;

}




.menu-wrap2{
	width: 980px;
    margin: 0 auto;

}
.content{
	position: relative;
    display: flex;
    justify-content: space-between;
    width: 980px;
    height: 45px;
    list-style: none;
    z-index: 500;
    font-family: 'Roboto',sanf-serif;
}
.content .all{
	display: inline-block;
    padding: 0;
}
.all{
	display: inline-block;
    vertical-align: top;
    zoom: 1;
}

.content .mirror{
	font-size: 14px;
	font-weight: 500;
    line-height: 45px;
    text-decoration: none;
    color: #212121;
}




/*radio row*/
.tablemenu{
	height: 43px;
	width: 980px;
    margin: 0 auto;
    border: 1px solid #ffc600;
    font-size: 14px;
    color: #323232;
    padding-left: 30px;
}
.tablemenu p{
    font-size: 14px;
    color: #323232;
    line-height: 40px;
}
.rad{
	position: relative;
	top: 8px;
	right: 5px;
	background: url(../images/radio-black.png);
	
	width: 25px;
	height: 25px;
	float: left;

}
.point{
	cursor: pointer;

}
.point:hover .rad{
	
	position: relative;
	top: 8px;
	right: 5px;
	background: url(../images/radio.png);
	width: 25px;
	height: 25px;
	float: left;
}






/*cards*/
.cards{
	width: 355px;
	height: 335px;
}
.place{
	width: 316px;
	height:315px;
	border: 1px solid #d5d5d5;
	
	
}
.place-imgs{
	width: 315px;
    height: 246px;

}
.place-img{
    width: 315px;
    height: 245px;
    color: #fff;

}
img{
	max-width: 100%;
    border: 0;
}

.info{
	padding: 7px;
    height: 55px;
}
.info-inner{
	height: 55px;
	width: 100%;
}
.inner-h{
	max-width: 315px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}
.inner-p{
    max-width: 315px;
    height: 57px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}



/*text under footer*/
.container-fluid{
	background-color: #f0f0f0;
}
.seotext{
	padding: 10px 0 5px;
	font-family: 'Ubuntu',Tahoma,sans-serif !important;
}

.inner-h2{
    color: #333;
    font-size: 14px;
}
.inner-p2{

    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}




/*footer*/
.fluid2{
	background-image: url(../images/footer.png);
	background-color: #343434;
	height: 100%;
	font-family: Tahoma;
}
.inner-h3{
	margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2);
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    width: 150px;
}
.inner-h4{
	margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2);
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    width: 270px;
}
.link-list{
	float: left;
    margin-bottom: 10px;
    padding: 0px;
}
.link-list li{
    color: #dfdfdf;
    font-weight: 400;
    font-size: 14px;
}
.link-list li a{
	color: #dfdfdf;
    text-decoration: none;
}
.link-list li a:hover{
	color: #dfdfdf;
    text-decoration: none;
    border-bottom: 1px solid #dfdfdf;
}

.link-list img{
	border-radius: 8px;

}