

#page-top{

    font-family: 'Ubuntu',Tahoma,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased !important;
}

/*отключаем адаптивность */
.container{
    width:980px !important;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;

}



/*меню бар*/
.menubar{
    position: fixed;
    z-index: 1038;
    width: 100%;
    height: 43px;
    background: #F7F7F7;
    box-shadow: 0px -2px 5px #888888 inset;
    top: 0px;


}
.containerbar{

    position: relative;
    margin: 0 auto;
    width: 1010px;
    height: 100%;

}

.list{

    float: left;
    height: 100%;
    white-space: nowrap;
}
ol, ul{
    list-style: none;
}



/*кнопка регистрации*/
.usermenu{
    float: right;
    height: 100%;
    padding-left: 30px;

}
.regismenu{
    
    float: left;
    height: 100%;
    color: #596469;
    font-size: 13px;
}
.regis{

    padding: 5px 8px 4px;
    background-color: #FFC600;
    white-space: nowrap;
    max-width: 100px;
    height: 26px;
    overflow: hidden;
    float: left;
    margin-top: 7px;
    text-overflow: ellipsis;
    margin-right: 15px;
    line-height: 19px;
    border-radius: 4px;
    
}
.regis a{

    color: #865801;
    text-decoration: none !important;
    font-size: 13px;

}
.log{
    cursor: pointer;
    line-height: 38px;
    margin-top: 0 auto;
    float:left;
}
.log>a{
    color: #32718F;
    text-decoration: none;
}

.itemsbox{
    float: left;
    margin: 10px 0 10px 10px; 
    
}
.cart{
    padding-left: 25px;
    height: 16px;
    font-weight: 300;
    line-height: 16px;
    background: url(../images/header.png) no-repeat;
    background-position: 0px -356px;
}
.cart-c{
    padding-left: 12px;
    padding-top: 2px;
    min-width: 29px;
    height: 20px;
    border-radius: 4px;
    background-color: #A3A3A3;
    color: white;
    font-weight: 400;
    font-size: 12px;
}


/*картинки навигейшена*/
.choco{
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 42px;
    border-left: 1px solid #cfcfcf;
    cursor: pointer;
    background: url(../images/plashka_head.png) no-repeat;
}
.choco-item{
    background-position: -7px -50px;
    background-color: white;
}
.choco>a {
    background-size: 100%;
    background-repeat: no-repeat;
}
.choco_link {
    display: inline-block;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.choco:after{
    position: relative;
    top: -5px;
    display: block;
    width: 114px;
    height: 19px;
    background: url(../images//header.png) no-repeat;
    content: '';
    background-position: -324px -5px;

}



.mart{
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 112px;
    height: 42px;
    border-left: 1px solid #cfcfcf;
    cursor: pointer;
    background: url(../images/plashka_head.png) no-repeat;


}
.mart-item{
    width: 112px;
    background-position: -127px -9px;

}
.mart>a{
    background-size: 100%;
    background-repeat: no-repeat;

}
.mart_link{
    background-image: url(../images/PpDkauK.gif); 
    background-position: 1px 0px; 
    height: 52px;
    display: inline-block;
    width: 100%;
    height: 100%;

}



.travel{
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 42px;
    border-left: 1px solid #cfcfcf;
    cursor: pointer;
    background: url(../images/plashka_head.png) no-repeat;
}
.travel-item{
    background-position: -246px -9px;

}
.travel-item:hover{
    background-position: -246px -51px;

}
.travel>a{
    background-size: 100%;
    background-repeat: no-repeat;

}
.travel_link{
    display: inline-block;
    width: 100%;
    height: 100%;
}




.lensmark{
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 42px;
    border-left: 1px solid #cfcfcf;
    cursor: pointer;
    background: url(../images/plashka_head.png) no-repeat;

}
.lensmark-item{
    background-position: -362px -9px;
    
}
.lensmark-item:hover{
    background-position: -362px -51px;
    
}
.lensmark>a{
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.lensmark_link{
    display: inline-block;
    width: 100%;
    height: 100%;
    
}



.food{
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 42px;
    border-left: 1px solid #cfcfcf;
    cursor: pointer;
    background: url(../images/plashka_head.png) no-repeat;

}
.food-item{
    border-right: 1px solid #cfcfcf;
    background-position: -478px -9px;
}

.food-item:hover{
    background-position: -478px -51px;
    
}

.food>a{
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.food_link{
    display: inline-block;
    width: 100%;
    height: 100%;
    
}


.idoctor{
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 42px;
    border-right: 1px solid #cfcfcf;
    cursor: pointer;
    background: url(../images/plashka_head.png) no-repeat;
}
.idoctor-item{
    
    background-position: -595px -9px;
}   
.idoctor-item:hover{
    background-position: -595px -52px;
}
.idoctor>a{
    background-size: 100%;
    background-repeat: no-repeat;
}
.idoctor_link{
    display: inline-block;
    width: 100%;
    height: 100%;
}




/*header*/
.clear{
    padding-top: 65px;
}
.clear2{
    padding-top: 15px;
}
.clear3{
    padding-top: 25px;
}
.clear4{
    width: 980px;
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
.citylist{
    padding-top: 10px;
    width: 230px;
}
.citylist>a{
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto',sanf-serif;
}
.glyphicon-triangle-bottom{
    font-size: 10px;
    color: #ababab;
}


.faq{
    width: 255px; 
}
.faq:hover{
    color: #d42d2c;
    background: white; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) ;
}
.faq-icon{
    position: relative;
    bottom: 2px;
    left: 19px;
    float: left;
    background: url(../images/icons.png);
    background-position: 73px -62px;
    width: 40px;
    height: 40px;
}
.faq:hover .faq-icon{
    background-position: 73px 2px;
}

.prom{
    width: 255px;
}
.prom:hover{
    color: #d42d2c;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) ;
}
.prom-icon{
    position: relative;
    bottom: 1px;
    left: 5px;
    float: left;
    background: url(../images/icons.png);
    background-position: 0px -62px;
    width: 40px;
    height: 40px;
}
.prom:hover .prom-icon{
    background-position: 0px 1px;
}


.feed{
    width: 255px;
}
.feed:hover{
    color: #d42d2c;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) ;
    

}
.feed-icon{
    position: relative;
    left: 25px;
    float: left;
    background: url(../images/icons.png);
    background-position: 35px -64px;
    width: 40px;
    height: 40px;
}
.feed:hover .feed-icon{

    background-position: 35px -2px;

}


a{
    text-decoration: none;
}





/*окна*/
.darken-grey-text {
    color: #2E2E2E;
}
.infoback{

	background: rgba(0, 0, 0, 0.5);
	color: #ffd700;

}
